:root {
  --success-bg: #d4edda;
  --success-border: #c3e6cb;
  --success-text: #155724;

  --error-bg: #8e0f1a;
  --error-border: #f5c6cb;
  --error-text: #000000;

  --warning-bg: #caa427;
  --warning-border: #ffeeba;
  --warning-text: #ffffff;

  --info-bg: #1a8b9f;
  --info-border: #bee5eb;
  --info-text: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #dbbebe;
}

.container {
  max-width: 400px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tc-left-top {
  top: 20px;
  left: 20px;
  align-items: flex-start;
}

.tc-left-bottom {
  bottom: 20px;
  left: 20px;
  align-items: flex-start;
}

.tc-right-top {
  top: 20px;
  right: 20px;
  align-items: flex-end;
}

.tc-right-bottom {
  bottom: 20px;
  right: 20px;
  align-items: flex-end;
}

.toast {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in;
}

.toast.success {
  background-color: var(--success-bg);
  border: 1px solid var(--success-border);
  color: var(--success-text);
}

.toast.error {
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  color: var(--error-text);
}

.toast.warning {
  background-color: var(--warning-bg);
  border: 1px solid var(--warning-border);
  color: var(--warning-text);
}

.toast.info {
  background-color: var(--info-bg);
  border: 1px solid var(--info-border);
  color: var(--info-text);
}



.toast .remove {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.toast .remove:hover {
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-out {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
